
/* intro */
div.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto 0;
}
div.intro div.left{
    width: 49%;
    font-size: 21px;
    color: #979797;
}
div.intro div.left p{
    margin: 66px 0;
    font-size: 21px;
}
div.intro div.left button{
    padding: 11px 34px;
    color: #1668b2;
    border: 1px solid #1668b2;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

div.intro div.right{
    width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}
div.logo-item{
    width: 150px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.logo-item img{
    width: 100%;
    cursor: pointer;
}

/* intro */

/* offers */
section#offers svg{
    height: 165px;
    width: 100%;
    fill: #f2f2f2;
    margin: 0px 0;
}

section#offers{
    background: url(../assets/images/service_bg.jpeg) no-repeat;
    background-position: center 0;
    background-size: cover;
    margin: 20px 0 0;
    width: 100%;
}

div.offers{
    display: flex;
    color: #FFF;
    text-align: center;
    flex-direction: column;
    padding: 0px 0;
    justify-content: flex-start;
    align-items: center;
}
div.offers h1{
    color: #FFF;
}
div.tab-title{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div.tab-title h3{
    width: calc(100%/3);
    padding: 4px 0 10px;
    border-bottom: 1px solid #BDBDB5;
    font-size: 18px;
    cursor: pointer;
    color: #BDBDB5;
    transition: 0.5s;
}
.offer-tab-active{
    color: #FFF !important;
    border-bottom: 1px solid #00D7EE !important;
}
div.service-list{
    margin: 60px 0 0;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
    padding: 0;
}
div#industries-tab, div#product-tab{
    display: none;
}
div.service-card{
    height: 220px;
    background: #FFF;
    width: 33.2%;
    color: #000;
    text-align: left;
    padding: 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    cursor: pointer;
}
div.service-card img{
    width: 40px;
}

p.service-card-title{
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
}
p.service-card-detail{
    font-size: 15px;
    margin: 20px 0;
    line-height: 1.3;
}

p.service-card-more{
    font-size: 15px;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.6s;
    opacity: 0;
    margin: 0;
    color: #1668b2;;
}
div.service-card:hover p.service-card-more{
    opacity: 1;
}

/* offers */

/* portfolio */
section#portfolio{
    width: 100%;
    background: url(../assets/images/portfolio.png) no-repeat;
    background-attachment: fixed;
    background-position: top 100px right 0;
    background-size: 80%;
    padding: 0 0;
}
section#portfolio h1{
    margin-bottom: 0;
}
section#portfolio svg.top-portfolio{
    fill: #f2f2f2;
    margin: -10px 0 0;
}
div.portfolio-title{
    background: #f2f2f2;
    padding: 20px 0;
}
div.portfolio{
    flex-direction: column;
}
div.portfolio h2.detail{
    font-size: 64px;
    margin: 0 0 60px;
}
div.portfolio h2.detail span{
    font-size: 96px
}
div.portfolio div.portfolio-btn{
    padding: 11px 34px;
    color: #1668b2;
    border: 1px solid #1668b2;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}
section#portfolio svg{
    height: 165px;
    width: 100%;
    fill: #006BB0;
    margin: -1px 0;
}
/* portfolio */


/* counter */
section#counter{
    background: #006BB0;
    color: #FFF;
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
section#counter svg{
    height: 165px;
    width: 100%;
    fill: #f2f2f2;
    margin: -1px 0;
}
div.counter-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
p.count-item{
    text-align: center;
    font-size: 20px;
}
p.count-item strong{
    font-size: 40px;
}
span.count-target{
    font-size: 60px;
}
section#counter button{
    padding: 11px 34px;
    max-width: 100%;
    width: 330px;
    border: 1px solid #FFF;
    background: #006EAF;
    border-radius: 6px;
    color: #FFF;
    margin: 30px 0 0;
}
/* counter */

/* office */
section#office{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
section#office h1{
    text-align: center;
}
div.offices-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
div.office-list-card{
    width: 23%;
    border-radius: 6px;
    height: 350px;
    background: url(../assets/images/office1.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
div.office-list-card:nth-child(2){
    background: url(../assets/images/office2.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}
div.office-list-card:nth-child(3){
    background: url(../assets/images/office3.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}
div.office-list-card:nth-child(4){
    background: url(../assets/images/office4.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
}
div.office-list-card p{
    margin: 0;
    font-size: 15px;
}
div.office-list-card hr{
    border-bottom: 2px solid #FFF;
    width: 50px;
    display: inline-block;
}
div.office-card-content{
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: 0.3s;
}
div.office-list-card:hover div.office-card-content{
    top: 0;
    background: rgba(22, 104, 178, 0.7);
}



/* responsive */

@media all and (max-width:992px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    div#header-menu-button{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    div#header-menu-button i{
        font-size: 30px;
    }
    header{
        padding: 10px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    img#header-logo{
        width: 55px;
    }
    ul#header-menu{
        display: none;
    }
    div.service-list{
        padding: 0 5%;
    }
    footer{
        padding: 30px 5%;
    }

    /* menu mobi*/
    ul#menu-mobi{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #FFF;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-bottom: 2px solid #aaa;
    }
    
    li.menu-mobi-item{
        list-style: none;
        border-bottom: 1px solid #F2F2F2;
        padding: 10px 5%;
        position: relative;
    }
    ul.menu-mobi-child{
        margin: 10px -5.5% -10px;
        padding: 0;
        background: #F2F2F2;
        display: none;
    }
    ul.menu-mobi-child li{
        list-style: none;
        padding: 10px 5%;
        border-bottom: 1px solid #ccc;
    }
    i.mobi-dropdown-marker{
        position: absolute;
        top: 12px;
        right: 5%;
    }
    i.mobi-search{
        position: absolute;
        top: 12px;
        right: 5%;
    }
    .marker-active{
        transform: rotate(-180deg);
    }
    div.service-card{
        width: 49%;
    }
    div.office-list-card{
        width: 48%;
    }
    div#footer{
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    div.footer-right{
        margin: 0;
    }
    div.intro{
        flex-direction: column;
        gap: 40px;
    }
    div.intro div.left{
        width: 100%;
        text-align: center;
        
    }
    div.intro div.left p{
        margin: 30px 0;
    }
    div.intro div.right{
        width: 100%;
        justify-content: space-around;
        gap: 20px;
    }
    div.slider-item img{
        height: 650px;
        object-position: 0 0;
    }
    div.banner-info h1.title{
        font-size: 65px;
    }
    svg{
        height: 100px !important;
    }

    /* menu mobi*/
}

@media all and (max-width:768px){
    div.service-card{
        width: 100%;
        height: auto;
        min-height: 100px;
    }
    p.service-card-more{
        opacity: 1;
    }
    h1{
        font-size: 35px;
    }
    div.banner-info h1.title{
        font-size: 40px;
    }
    div.slider-item img{
        height: 600px;
        object-position: 0 0;
    }
    div.banner-info{
        top: 75px;
    }
    svg{
        height: 60px !important;
    }
    h1{
        margin: 0 0 30px !important;
    }
}

@media all and (max-width: 576px){
    div.office-list-card{
        width: 100%;
    }
    div.portfolio h2.detail{
        font-size: 40px;
        margin: 0 0 40px;
    }
    div.portfolio h2.detail span{
        font-size: 60px;
    }
    section#counter button{
        max-width: 80%;
    }
    div.footer-map iframe{
        width: 300px;
        max-width: 95%;
        height: 200px;
    }
    div.tab-title h3{
        font-size: 13px;
    }
}

/* responsive */